asgiref
black
certifi
cffi
charset-normalizer
click
cryptography
dj-static
Django
django-cors-headers
django-rest-knox
djangorestframework
factory-boy
Faker
idna
mypy-extensions
pathspec
platformdirs
psycopg2-binary
pycparser
python-dateutil
python-decouple
pytz
requests
sentry-sdk
six
sqlparse
static3
tomli
urllib3
